/* Modify the background color */
h3 {
  font-family: "League Spartan", sans-serif;
  font-size:medium;
  font-weight:400;
  text-align: left;
  letter-spacing: 1.5px;
  margin: 0;
}     

h4 {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1em;;
  font-weight:lighter;
  text-align: left;
  margin: 0;
}     
.navbar-custom {
  background-color: white;
  padding-top:0px;
  padding-bottom:0px;
}
/* Modify brand and text color */

.navbar-title {
  color: black;
  font-family: League Spartan, sans-serif;
  font-weight: Medium;
  letter-spacing: 3px;
  font-size: 225%;
  padding-top:0px;
  padding-bottom:0px;
  padding-left: 10px;

}

.navbar-subtitle {
color: black;
  font-family: IBM Plex Mono;
  font-weight:390;
  letter-spacing: 3px;
  font-size: 95%;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}

.form-control {
color: black;
  font-family: IBM Plex Mono;
  font-weight:350;
  font-size: 90;
}

#subtitle-1::after{
content: "\a";
  white-space: pre;
}

#map {
  width:100vw;
  height: 100vh;
}

/* .starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  aside {
    height: 80vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}