/* Modify the background color */
h3 {
  font-family: "League Spartan", sans-serif;
  font-size:medium;
  font-weight:400;
  text-align: left;
  letter-spacing: 1.5px;
  margin: 0;
}     

h4 {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1em;;
  font-weight:lighter;
  text-align: left;
  margin: 0;
}     
.navbar-custom {
  background-color: white;
  padding-top:0px;
  padding-bottom:0px;
}
/* Modify brand and text color */

.navbar-title {
  color: black;
  font-family: League Spartan, sans-serif;
  font-weight: Medium;
  letter-spacing: 3px;
  font-size: 225%;
  padding-top:0px;
  padding-bottom:0px;
  padding-left: 10px;

}

.navbar-subtitle {
color: black;
  font-family: IBM Plex Mono;
  font-weight:390;
  letter-spacing: 3px;
  font-size: 95%;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}

.form-control {
color: black;
  font-family: IBM Plex Mono;
  font-weight:350;
  font-size: 90;
}

#subtitle-1::after{
content: "\a";
  white-space: pre;
}

#map {
  width:100vw;
  height: 100vh;
}

.leaflet-top {
  bottom: 0;
  }
  
  .leaflet-top .leaflet-control-zoom {
  top:6%;
  transform: translateY(-6%);
  }

#side-panel {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 200px;
  margin: 20px;
  padding: 10px 10px;
  background: rgba(256, 256, 256, .8);
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 800;
}

#logo {

  position: absolute;
  bottom: -5px;
  right: -5px;
  height: 500;
  width: 280px;
  padding: 5px 5px;
  margin: 0;
  /* Add styles to match Leaflet UI elements */
  background: rgba(256, 256, 256, 0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  border: 0px solid #ddd;
  border-radius: 5px;
  z-index: 800;
}

#legend {
  position: relative;
  margin: 20px 0;
}

#legend-large {
  border: .2px solid black;
  border-radius: 50%;
  background: grey;
  position: absolute;
  left: 30px;
}

#legend-small {
  border: .2px solid black;
  border-radius: 50%;
  background: grey;
  position:relative;
  top: 5px;
}

#legend-large-label {
  position: absolute;
  font-family: IBM Plex Mono;
  font-weight:390;
  letter-spacing: 3px;
  font-size: 80%;
  top: 1px;
  left: 30px;
}

#legend-small-label {
  position: absolute;
  font-family: IBM Plex Mono;
  font-weight:390;
  letter-spacing: 3px;
  font-size: 80%;
}

/* #legend hr.small, #legend hr.large {
  width: 83px;
  position: absolute;
  top: -8px;
  left: 66px;
} */

/* .starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  aside {
    height: 80vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}