/* Modify the background color */
h1 {
  font-family: "League Spartan", sans-serif;
  font-size:medium;
  font-weight:400;
  text-align: left;
  letter-spacing: 1.5px;
  margin: 0;
}   

h3 {
  font-family: "League Spartan", sans-serif;
  font-size:medium;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 0;
}     

h4 {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1em;
  font-weight:200;
  text-align: left;
  vertical-align: bottom;
  margin: 0;
}     

h5 {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1em;
  font-weight:200;
  text-align: justify;
  vertical-align: bottom;
  margin: 0;
}

p {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: .7em;;
  font-weight:300;
  text-align: left;
}

.navbar-custom {
  background-color: white;
  padding-top:0px;
  padding-bottom:0px;
  z-index:1;
}
/* Modify brand and text color */

.navbar-title {
  color: black;
  font-family: League Spartan, sans-serif;
  font-weight: Medium;
  letter-spacing: 3px;
  font-size: 225%;
  padding-top:0px;
  padding-bottom:0px;
  padding-left: 20px;

}

.navbar-subtitle {
  color: black;
  font-family: IBM Plex Mono;
  font-weight:390;
  letter-spacing: 3px;
  font-size: 95%;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
}

/* .form-control {
color: black;
  font-family: IBM Plex Mono;
  font-weight:350;
  font-size: 90;
} */

#autocomplete {
  color: black;
  font-family: IBM Plex Mono;
  font-weight:350;
  font-size: 90%;
  z-index: 3;
  margin-bottom: 2px;
  width: 250px;
}

.ui-front {
  font-family: IBM Plex Mono;
  font-weight:350;
  font-size: 80%;

}

#subtitle-1::after{
content: "\a";
  white-space: pre;
}

#map {
  width:100vw;
  height: 100vh;
  z-index: 0;
}

#side-panel {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 280px;
  margin: 20px auto;
  padding: 0 15px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 800;
}


/* legend */
#legend {
  font-family: IBM Plex Mono;
  line-height: 0px;
  background:white;
  padding:0px 25px 25px 25px;
}

.leaflet-top {
  bottom: 0;
  }
  
  .leaflet-top .leaflet-control-zoom {

  top:54px;
  transform: translateY(-6%);
  }

#side-panel {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 200px;
  margin: 20px;
  padding: 10px 10px;
  background: rgba(256, 256, 256, .8);
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 300;
}

#logo {

  position: absolute;
  top: 20px;
  left: 25px;
  opacity: .9;
  background-size: 100vw auto; 
  z-index: 1;
}

@media all and (min-width: 1024px) and (max-width: 1400px) {
  .navbar-title{
    font-size:125%;
  }
   
  .navbar-subtitle{
    font-size: 60%;
  }
  #autocomplete {
    font-size: 70%;
  }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .navbar-title{
    font-size:80%;
  }
  .community{
    display:none;
  }
  .fire{
   display:none;
  }
   .navbar-subtitle{
    font-size: 50%;
  }
  #autocomplete {
    font-size: 60%;
  }
 }

@media all and (min-width: 480px) and (max-width: 768px) { 
  .navbar-title{
    font-size:80%;
  }

  .community{
    display:none;
  }
  .fire{
   display:none;
  }
   .navbar-subtitle{
    font-size: 50%;
  }
  #autocomplete {
    font-size: 60%;
  }
}

@media all and (max-width: 480px) {
  .navbar-title{
    font-size:70%;
  }
  .community{
    display:none;
  }
  .fire{
   display:none;
 }
  .navbar-subtitle{
    font-size: 50%;
  }
  #autocomplete {
    display: none;
  }
 }
